@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5>KULLANICI GİRİŞ</h5>
    <div class="d-flex justify-content-center">
        <form action="#" method="post">
            <div class="form-group login" >              
                <input  type="text" class="form-control" id="inputUser_name" name="User_name" placeholder="Kullanıcı Adı">
            </div>
            <div class="form-group">               
                <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="Şifre">
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Giriş Yap</button>
            </div>
        </form>
    </div>
</div>