@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Exam";
    
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>@ViewBag.exam.Title</h1>
            <p>@ViewBag.exam.Text</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h5> Soru 1) @ViewBag.exam.Questions[0].Option_a</h5>
            <button type="submit" class="btn btn-outline-dark btn-block">A-) ilk cevap</button> <br>
            <button type="submit" class="btn btn-outline-dark btn-block">B-) ikinci cevap</button> <br>
            <button type="submit" class="btn btn-outline-dark btn-block">C-) üçüncü cevap</button>  <br>
            <button type="submit" class="btn btn-outline-dark btn-block">D-) dördüncü cevap</button> <br>
        </div>
        <div class="col">
            <h5>Soru 2) Aşağıdakilerden hangisi aşağıdadır ozancım önce sen bunu bul aşağıdaki şıklardan sonra gel ben buldum de</h5>
            <button type="submit" class="btn btn-outline-dark btn-block">A-) ilk cevap</button> <br>
            <button type="submit" class="btn btn-outline-dark btn-block">B-) ikinci cevap</button> <br>
            <button type="submit" class="btn btn-outline-dark btn-block">C-) üçüncü cevap</button>  <br>
            <button type="submit" class="btn btn-outline-dark btn-block">D-) dördüncü cevap</button> <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5> Soru 3) Aşağıdakilerden hangisi aşağıdadır ozancım önce sen bunu bul aşağıdaki şıklardan sonra gel ben buldum de</h5>
            <button type="submit" class="btn btn-outline-dark btn-block">A-) ilk cevap</button> <br>
            <button type="submit" class="btn btn-outline-dark btn-block">B-) ikinci cevap</button> <br>
            <button type="submit" class="btn btn-outline-dark btn-block">C-) üçüncü cevap</button>  <br>
            <button type="submit" class="btn btn-outline-dark btn-block">D-) dördüncü cevap</button> <br>
        </div>
        <div class="col">
            <h5>Soru 4) Aşağıdakilerden hangisi aşağıdadır ozancım önce sen bunu bul aşağıdaki şıklardan sonra gel ben buldum de</h5>
            <button type="submit" class="btn btn-outline-dark btn-block">A-) ilk cevap</button> <br>
            <button type="submit" class="btn btn-outline-dark btn-block">B-) ikinci cevap</button> <br>
            <button type="submit" class="btn btn-outline-dark btn-block">C-) üçüncü cevap</button>  <br>
            <button type="submit" class="btn btn-outline-dark btn-block">D-) dördüncü cevap</button> <br>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-dark btn-lg btn-block">SINAVI TAMAMLA AMK</button>

        </div>
    </div>
</div>
